@page
@model GeoBAM.Pages.POImanager.EditModel

@{  //Titre de la page
    ViewData["Title"] = "Modifier un point";
}

<h1>Modifier un point</h1>


<hr />
<!--On ajoute un formulaire pour effectuer des modifications-->
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GeoJSONData.pointID" />
            <div class="form-group">
               
                <input hidden asp-for="GeoJSONData.DataType" class="form-control" />
                <span asp-validation-for="GeoJSONData.DataType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeoJSONData.Address" class="control-label">Adresse</label>
                <input asp-for="GeoJSONData.Address" class="form-control" />
                <span asp-validation-for="GeoJSONData.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeoJSONData.City" class="control-label">Ville</label>
                <input asp-for="GeoJSONData.City" class="form-control" />
                <span asp-validation-for="GeoJSONData.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeoJSONData.PostalCode" class="control-label">Code postal</label>
                <input asp-for="GeoJSONData.PostalCode" class="form-control" />
                <span asp-validation-for="GeoJSONData.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeoJSONData.GeoJSONdata" class="control-label">Données GéoJSON</label>
                <input asp-for="GeoJSONData.GeoJSONdata" class="form-control" />
                <span asp-validation-for="GeoJSONData.GeoJSONdata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeoJSONData.Type" class="control-label">Catégorie</label>
                <input asp-for="GeoJSONData.Type" class="form-control" />
                <span asp-validation-for="GeoJSONData.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeoJSONData.DatePrelevement" class="control-label">Date de Prélèvement</label>
                <input asp-for="GeoJSONData.DatePrelevement" class="form-control" />
                <span asp-validation-for="GeoJSONData.DatePrelevement" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input hidden asp-for="GeoJSONData.ID_Operateur" class="form-control" />
                <span asp-validation-for="GeoJSONData.ID_Operateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer"  style="background-color:limegreen;" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Revenir à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
