@page
@model GeoBAM.Pages.UserManager.DeleteModel

@{
    ViewData["Title"] = "Supprimer un utilisateur";
}

<h1>Supprimer un utilisateur</h1>

<h3>Etes vous sur de vouloir supprimer cet utilisateur?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Prénom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
           Nom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            Adresse Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        
        <dt class="col-sm-2">
           role
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Role)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="User.Id" />
        <input type="submit" value="supprimer"  style="background-color:orangered;" class="btn btn-danger" /> |
        <a asp-page="./Index">revenir à la liste</a>
    </form>
</div>
